:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  padding: 20px;
  letter-spacing: 1px;
}

.active {
  font-weight: bold;
}


.register-form {
  margin-top: 20px;
}

.form-details {
  margin-top: 20px;
}

.form-details > div {
  margin: 10px;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary
 {
  background: var(--primary-color);
  color: #fff;
}


.title {
  text-align: center;
  font-family: arial, sans-serif;
}

.records {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.records td, .records th {
  border: 1px solid #ddd;
  padding: 8px;
}

.records tr:nth-child(even){background-color: #f2f2f2;}

.records tr:hover {background-color: #ddd;}

.records th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}